{% extends('@AgreableProductPlugin/base.twig') %}

{% block header %}
  <header class="site-header" role="banner">
    <a href="/shop/best-beauty/" class="site-header__logo"></a>
    {% include '@AgreableProductPlugin/site-nav/template.twig' %}
  </header>
{% endblock %}

{% block content %}
  {% for sub_category in product_collection_category.sub_categories %}
    {% include "@AgreableProductPlugin/product-list/template.twig" with {
      products: sub_category.products,
      title: sub_category.sub_category_name
    } %}
  {% endfor %}
{% endblock %}
