{% extends('@AgreableProductPlugin/base.twig') %}

{% block header %}
  {% include '@AgreableProductPlugin/site-header/template.twig' with {
    context: 'category'
  } %}
{% endblock %}

{% block content %}

  {% include '@AgreableProductPlugin/hero/template.twig' with {
    image: product_collection_category.category_image.url,
    image_mobile: product_collection_category.category_image_mobile.url,
    title: product_collection_category.name
  } %}
  <div class="side-category-nav">
    {% include "@AgreableProductPlugin/side-navigation/template.twig" %}
  </div>

  {% for sub_category in product_collection_category.sub_categories %}
    {% include "@AgreableProductPlugin/product-list/template.twig" with {
      products: sub_category.products,
      title: sub_category.sub_category_name
    } %}
  {% endfor %}

  {% include "@AgreableProductPlugin/category-pagination/template.twig" with {
    next: product_collection_category_next,
    prev: product_collection_category_prev
  } %}
{% endblock %}
