{% extends('@AgreableProductPlugin/base.twig') %}

{% block content %}
  <div class="product_collection">
    <h1>Welcome to {{ product_collection.post_title }}!</h1>   


	  <ul class="product_collection-category-list">
	    {% for category in product_collection.get_field('categories') %}
	      <li><a href="{{product_collection.slug}}/{{category.name}}">{{category.name}}</a></li>
	    {% endfor %}
		</ul>

  </div>
{% endblock %}
