.scope-wysiwyg
  color $grey-dark
  margin-bottom 80px
  p
    font-size 16px
    line-height 1.714
    margin-bottom 20px
  a
    color $best-beauty-highlight
    text-decoration none
    &:hover,
    &:focus
      text-decoration underline
  h3
    color $best-beauty-highlight
    font-size 18px
    font-weight 800
    line-height 2
    margin-bottom 8px
    text-transform uppercase
  p + h3
    padding-top 16px
