.scope-wysiwyg
  color #333
  margin-bottom 80px
  p
    font-size 16px
    line-height 1.714
    margin-bottom 20px
  a
    color bestBeautyPink
    text-decoration none
    &:hover,
    &:focus
      text-decoration underline
  h3
    color bestBeautyPink
    font-size 18px
    font-weight 800
    line-height 2
    margin-bottom 8px
    text-transform uppercase
  p + h3
    padding-top 16px
