
/*  Fixed ratio container */
/*  ----------------------------------- */
.media-wrap
  position relative

/*  Ratios */
.media-wrap--square
  padding-bottom 100%

/*  Image */
.media-wrap__item
  height 100%
  left 0
  object-fit contain
  object-position center
  position absolute
  top 0
  width 100%
