
@supports (pointer-events: none)
  @media ipadsAndUp
    .site-border-1::after,
    .site-border-1::before
    .site-border-2::after,
    .site-border-2::before
      background-image url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3EArtboard%3C%2Ftitle%3E%3Cg%20fill%3D%22%23E41C6B%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M11.354-.646L11.707-1%2011-1.707l-.354.353-11%2011-.353.354.707.707.354-.353M15.354%205.354L15.707%205%2015%204.293l-.354.353-11%2011-.353.354.707.707.354-.353M5.354-4.646L5.707-5%205-5.707l-.354.353-11%2011-.353.354.707.707.354-.353%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
      background-position 0 0
      background-repeat repeat
      content ''
      position fixed
      z-index 100
    .site-border-1::after
      height: 100%;
      left: 0;
      top: 0;
      width: 10px
    .site-border-1::before
      height: 10px;
      left: 10px;
      top: 0;
      width: calc(100% - 20px);
    .site-border-2::after
      background-position: 0 calc(-100vw - 10px);
      height: 100%;
      right: 0;
      top: 0;
      width: 10px;
    .site-border-2::before
      background-position: 0 calc(-100vh - 10px);
      bottom: 0;
      height: 10px;
      left: 10px;
      width: calc(100% - 20px);
