.site-header
  margin 0 auto
  padding 12px 20px
  z-index 10
  width 100%
  @media (max-width: 767px)
    background-color bestBeautyPink
    height 52px
    left 0
    position fixed
    text-align center
    top 0
  @media ipadsAndUp
    background-color transparent
    padding 32px
    position relative

.site-header__logo
  display inline-block
  height 28px
  width 167px
  vertical-align middle
  @media ipadsAndUp
    height 43px
    width 252px

.site-header__logo svg
  width 100%

.site-header__logo path
  fill #fff
  @media ipadsAndUp
    fill bestBeautyPink

.site-header__logo .stylist path
  @media ipadsAndUp
    fill #a0a0a0

.site-header--reverse
  position absolute
.site-header--reverse .site-header__logo path
  fill #fff
