.site-nav
  display none
  font-size 0
  list-style-type none
  @media ipadsAndUp
    display inline-block
    margin-left 6px
    vertical-align middle
.site-nav__list-item
  display inline-block
  font-size 16px
.site-nav__item
  display block
  font-family secondaryFontFamily
  letter-spacing 2px
  text-decoration none
  text-transform uppercase

.site-nav-toggle
  background-color transparent
  cursor pointer
  display inline-block
  height 52px
  position absolute
  right 0
  top 0
  width 60px
  &:focus
    outline none
  @media ipadsAndUp
    right 26px
    top 26px
    width 52px

.site-nav-toggle svg
  @media ipadsAndUp
    width 29px
.site-nav-toggle path
  @media ipadsAndUp
    fill bestBeautyPink

.site-header--reverse .site-nav-toggle path
  fill #fff
