// .product_collection-category-list
// 	list-style none
// 	padding-left 0
//
// .product_collection-link
// 	font-size 1.25em
// 	display inline-block
// 	padding 20px 25px
// 	background bestBeautyPink
// 	margin 5px
// 	&:hover
// 		background white
// 		.product_collection-link-items
// 			color bestBeautyPink
//
// .product_collection-link-items
// 	text-decoration none
// 	text-transform uppercase
// 	color white
// 	letter-spacing 3px
// 	font-weight 600
//
// .product_collection-link-active
// 	background white
// 	.product_collection-link-items
// 		color bestBeautyPink
