.product_collection-header
	margin-bottom 60px

.product_collection-category-list
	list-style none
	padding-left 0

.product_collection-link
	font-family secondaryFontFamily
	display inline-block
	border 2px solid bestBeautyPink
	padding 10px 15px
	background white
	&:hover
		background bestBeautyPink
		.product_collection-link-category
			color #fff

.product_collection-link-category
	text-decoration none
	text-transform uppercase
	color bestBeautyPink
	letter-spacing 2px
	
.product_collection-link-active
	background bestBeautyPink
	.product_collection-link-category
		color white


