.product_collection-header
	margin-bottom 60px

.product_collection-category-list
	list-style none
	padding-left 0

.product_collection-link
	font-family secondaryFontFamily
	display inline-block
	padding 15px 20px
	background bestBeautyPink
	margin-bottom 5px
	&:hover
		background white
		.product_collection-link-category
			color bestBeautyPink

.product_collection-link-category
	text-decoration none
	text-transform uppercase
	color white
	letter-spacing 2px
	font-weight 700
	
.product_collection-link-active
	background white
	.product_collection-link-category
		color bestBeautyPink


