
<style media="screen">
  {% if image_mobile %}
    .hero {
      background-image: url({{image_mobile}})
    }
    @media (min-width: 768px) {
  {% endif %}
    .hero {
      background-image: url({{image}})
    }
  {% if image_mobile %}
    }
  {% endif %}
</style>

<div class="hero js-hero">
  <h1 class="hero__title">{{title}}</h1>
</div>
