.share__button
	cursor pointer
	display table-cell
	float left
	height 40px
	position relative
	width 33%
		
.share__button__logo
	width 18px
	height 18px
	position absolute
	top 50%
	left 50%
	transform translateY(-50%)
	
.share__button--facebook
	background-color #3B5998
	border-top-left-radius 20px
	border-bottom-left-radius 20px

.share__button--twitter
	background-color #00ACED

.share__button--email
	background-color #A5A59F
	border-top-right-radius 20px
	border-bottom-right-radius 20px
	
.share__button--whatsapp
	display none