<header class="site-header" role="banner">
  <a href="/shop/best-beauty/" class="site-header__logo">
    {% include '@AgreableProductPlugin/logo-bestbeauty.svg' %}
  </a>
  {% include '@AgreableProductPlugin/site-nav/template.twig' %}
</header>
