<header class="site-header {% if modifier %}site-header--{{modifier}}{% endif %}" role="banner">
  <a href="{{site.url}}/shop/best-beauty/" class="site-header__logo">
    {% include '@AgreableProductPlugin/logo-bestbeauty.svg' %}
  </a>
  {% include '@AgreableProductPlugin/site-nav/template.twig' %}
</header>
