<header class="site-header {% if context %}site-header--context-{{context}}{% endif %}" role="banner">
  <a href="{{site.url}}/shop/best-beauty/" class="site-header__logo">
    {% include '@AgreableProductPlugin/logo-bestbeauty-landscape.svg' %}
  </a>
  {% include '@AgreableProductPlugin/site-nav/template.twig' %}
</header>
