
//  Product card
.product-card
  font-family secondaryFontFamily

.product-card__media
  border 5px solid #f5f5f5
  overflow hidden
  padding-bottom 100%
  position relative

.product-card__media-link
  bottom 0
  left 0
  position absolute
  right 0
  top 0
  padding 30px

.product-card__content
  margin 0 auto
  max-width 240px
  padding-top 40px
  position relative
  text-align center

.product-card__rating
  font-size 1em

.product-card__badge
  background-color bestBeautyPink
  color #fff
  font-weight 400
  left 50%
  letter-spacing 3px
  padding 8px 20px
  position absolute
  text-transform uppercase
  top 0
  transform translateX(-50%) translateY(-50%)

.product-card__title
  font-weight 300

.product-card__brand
  color bestBeautyPink
  font-weight 300
  font-size 14px
  margin-bottom 25px
