
//  Product card
.product-card
  font-family secondaryFontFamily
  margin-bottom 54px

.product-card__media
  border 6px solid #f5f5f5
  overflow hidden
  padding-bottom 100%
  position relative

.product-card__media-link
  bottom 0
  left 0
  padding 30px
  position absolute
  right 0
  top 0

.product-card__content
  margin 0 auto
  max-width 240px
  padding-top 24px
  position relative
  text-align center

.product-card__rating
  font-size 1em
  margin-bottom 10px

.product-card__badge
  background-color bestBeautyPink
  color #fff
  font-weight 700
  left 50%
  letter-spacing 4px
  padding 8px 24px 6px
  position absolute
  text-transform uppercase
  top -3px
  transform translateX(-50%) translateY(-50%)

.product-card__title
  font-weight 300
  margin-bottom 14px

.product-card__brand
  color bestBeautyPink
  font-size 14px
  margin-bottom 10px
