.product_collection_landing
	display flex
	align-items center
	justify-content center
	height 100vh
	text-align center

.product_collection_landing-content
	max-width 50%
	.product_collection-category-list
		margin-top -100px
		
.product_collection_logo-small
	max-width 150px
	float right