.product_collection_landing
	display flex
	align-items center
	justify-content center
	height 100vh
	text-align center

.product_collection_landing-content
	max-width 90%
	@media ipadsAndUp
		max-width 75%
		
	
.product_collection_landing-image
	width 100%
		
.product_collection_logo-small
	max-width 150px
	float right