.product_collection_landing
	background-size cover
	font-family secondaryFontFamily
	display flex
	align-items center
	justify-content center
	height 100vh
	
.product_collection_logo-image
	position absolute
	top 0
	left 0
	max-width 150px

.product_collection_landing-content
	max-width 90%
	text-align center
	@media ipadsAndUp
		max-width 60%	
	
.product_collection_landing-title
	text-transform uppercase
	color white
	font-size 3rem
	letter-spacing 5px
	line-height 1em
	margin 0
	font-weight 900
	@media ipadsAndUp
		font-size 5rem
		width 60%
		margin 0 auto
	
.product_collection_landing-byline
	color white
	font-weight 300
	margin-top 0
	margin-bottom 10px
	
.product_collection_landing-image
	width 50%
	margin-bottom 40px
	
.product_collection_landing-sell
	text-transform uppercase
	color white
	letter-spacing 3px
		
.product_collection_logo-small
	max-width 150px
	float right