.product_collection_landing
  align-items center
  background-size cover
  background-position center center
  display flex
  font-family secondaryFontFamily
  height 100vh
  justify-content center
  margin -10px 0 0 -10px
  width 100vw

.product_collection_landing-content
  max-width 90%
  text-align center
  @media ipadsAndUp
    max-width 60%

.product_collection_landing-title
  text-transform uppercase
  color white
  font-size 3rem
  letter-spacing 5px
  line-height 1em
  margin 0
  font-weight 900
  @media ipadsAndUp
    font-size 5rem
    width 60%
    margin 0 auto

.product_collection_landing-byline
  color white
  font-weight 300
  margin-top 0
  margin-bottom 10px

.product_collection_landing-image
  width 50%
  margin-bottom 40px

.product_collection_landing-sell
	text-transform uppercase
	color white
	letter-spacing 3px
	margin-bottom 20px

.product_collection_logo-small
  max-width 150px
  float right
