.landing-container
  align-items center
  background-position center center
  background-size cover
  display flex
  flex-direction column
  font-family secondaryFontFamily
  justify-content center
  min-height 100%
  padding 40px 20px
  text-align center
  width 100%
  @media ipadsAndUp
    height 100vh
    left 0
    padding 0
    position fixed
    top 0
    width 100vw

.landing-container__logo
  margin-bottom 40px
  padding 0 12vw
  @media ipadsAndUp
    margin-bottom 80px
    padding 0 16vw
.landing-container__logo path
  fill #fff

.landing-container__sell
  display none
  color #fff
  font-size 24px
  font-weight 700
  letter-spacing 3px
  margin-bottom 60px
  text-transform uppercase
  @media ipadsAndUp
    display block
