.sub-category-nav
  text-align center
  margin-bottom 20px
  @media mediumMobilesAndUp
    margin-bottom 0
    text-align right

.sub-nav-open
  width 80%
  background white
  color bestBeautyPink
  text-transform uppercase
  border 1px solid bestBeautyPink
  padding 10px 20px
  letter-spacing 1.4px
  font-weight 800
  font-size 10px
  margin-right 0
  @media mediumMobilesAndUp
    margin-right 50px
    margin-right 32px
    width auto
    

.sub-nav-container
  background-color bestBeautyPink
  color white
  text-transform uppercase
  font-weight 700
  letter-spacing 1.4px
  text-align center
  padding-bottom 20px
  height auto
  left 100%
  overflow auto
  max-width 375px
  position fixed
  top 52px
  transform translateX(0)
  transition 0.5s
  width 100%
  will-change transform
  z-index 15
  &[aria-hidden="false"]
    transform translateX(-100%)
  @media smallTabletsAndUp
    top 20vh
    max-width 300px
    
.sub-nav-container_title
  background white
  color bestBeautyPink
  padding 20px 0
  font-size 13px
  margin-top 40px
    
.sub-nav-container ul
  list-style none
  padding 20px

.sub-nav-container_item
  display block
  margin-bottom 10px
  padding 10px 0
  border 1px solid bestBeautyPink 
  &:hover
    border 1px solid white 

.sub-nav-container_link
  text-decoration none
  padding 10px 20px
  font-size 13px

.sub-nav-close
  margin 10px
  height 20px
  width 20px
  float right
  background-color bestBeautyPink
  background-image url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%2218%2018%2032%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M21.18%2021.18l25.46%2025.46M46.82%2021.18L21.36%2046.64%22%20stroke%3D%22%23fff%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22square%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E')
  background-position center center