.product_collection-category-list
	list-style none
	margin-bottom 60px

.product_collection-category-list li
	display inline-block
	border 2px solid bestBeautyPink
	padding 10px 15px

.product_category-links
	text-decoration none
	text-transform uppercase
	color bestBeautyPink
	letter-spacing 2px
	
.product_category-link-active
	background bestBeautyPink
	
.link-active
	color #fff

