// Imports from app theme
@import 'nib'
@import 'app/constants'
@import 'app/mixins'
@import 'allure-breakpoints'
@import 'allure-mixins'

// Colors
bestBeautyPink = #E41C6B

// Global styles
@import 'global/generic.reset'
@import 'global/generic.normalize'
@import 'global/generic.box-sizing'
@import 'global/base.document'
@import 'global/base.media'
@import 'global/objects.grid'

@import 'nav/category-links'
@import 'landing-page/styles'
@import 'product/star-rating'
@import 'product/share-buttons'
@import 'product/product-details.styl'

// Product list
@import 'product-collection/style.styl'
@import 'product-list/style.styl'
@import 'product-card/style.styl'
