.product_collection-grid
	width 100%
	font-family secondaryFontFamily
	
.product_collection_grid-single
	width 100%
	display inline-block
	text-align center
	margin-bottom 30px
	.winner-badge
		float none
		margin-top -20px
	@media smallTabletsAndUp
		width 33%
	@media smallDesktopsAndUp
		width 25%

.product_collection-grid-heading
	font-family secondaryFontFamily
	text-transform uppercase
	letter-spacing 2.7px
	color #333

.product_collection_grid-single img
	width 75%
	padding 20px
	border 3.5px solid #f5f5f5
	
.solid-background
	position absolute
	z-index -1
	width	45%
	height 45px
	margin-top 12px
	margin-left -10px
	background RGBA(192, 239, 239, .5)
	background-size 5px 5px
	background-position 0 0, 30px 30px
	@media smallTabletsAndUp
		width 25%
	
.circle-background
	position absolute
	z-index -2
	width	25%
	height 75px
	margin-left -10px
	background-image radial-gradient(#C0EFEF 10%, transparent 20%), radial-gradient(#C0EFEF 10%, transparent 20%)
	background-size 5px 5px
	background-position 0 0, 30px 30px
	@media smallTabletsAndUp
		width	15%
	


