starColor = #ffb611
starDefaultColor = #ECECEC


.rating-box
  color starDefaultColor
  font-size 1.6rem
  
.full
	&::before
		color starColor
		content "\2605"
		
.empty
	&::before
		content "\2605"
	