.category-pagination
  font-size 0

.category-pagination__item
  background-color #333
  color #fff
  display block
  font-size 16px
  min-height 160px
  padding 50px 130px
  text-decoration none
  transition background-color 150ms ease-out
  width 50%
  &:hover,
  &:focus
    background-color bestBeautyPink
  &:first-child
    float left
  &:last-child
    float right
    text-align right

.category-pagination__subtitle
  display block
  font-size 15px
  font-weight 800
  text-transform uppercase
  letter-spacing 3px

.category-pagination__category
  font-size 38px
  font-weight 800
  letter-spacing 6px
  line-height 1.105
  text-transform uppercase
