
.site-nav-container
  align-items center
  background-color rgba(bestBeautyPink, 0.9)
  border 20px solid #fff
  display flex
  flex-direction column
  height 100%
  justify-content center
  left 0
  opacity 0
  overflow auto
  padding 60px 20px 20px
  position fixed
  text-align center
  top 0
  transition  opacity 150ms ease-out,
              visibility 150ms ease-out,
              border-width 150ms ease-out
  visibility hidden
  width 100%
  will-change transform
  &[aria-hidden="false"]
    opacity 1
    visibility visible
  @media ipadsAndUp
    border-width 50px
    padding 40px

.site-nav-open
  background-color transparent
  cursor pointer
  display inline-block
  height 52px
  position absolute
  right 0
  top 0
  width 60px
  &:focus
    outline none
  @media ipadsAndUp
    right 26px
    top 26px
    width 52px

.site-nav-open svg
  @media ipadsAndUp
    width 29px
.site-nav-open path
  @media ipadsAndUp
    fill bestBeautyPink

.site-header--context-category .site-nav-open path,
.site-header--context-landing .site-nav-open path
  fill #fff

.site-nav-open,
.site-nav-close
  &:focus
    outline none

.site-nav-container__logo
  fill #fff
  max-width 320px
  width 70%
  margin 0 auto 40px
  @media ipadsAndUp
    margin-bottom 80px
.site-nav-container__logo svg
  width 100%

.site-nav-close
  background-color #fff
  background-image url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%2218%2018%2032%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M21.18%2021.18l25.46%2025.46M46.82%2021.18L21.36%2046.64%22%20stroke%3D%22%23e7126a%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22square%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E')
  background-position center center
  background-repeat no-repeat
  background-size 22px
  border-radius 50%
  cursor pointer
  height 40px
  overflow hidden
  position absolute
  right 10px
  text-indent 200%
  top 10px
  white-space nowrap
  width 40px
  @media ipadsAndUp
    background-size 32px
    height 68px
    right 20px
    top 20px
    width 68px
