minfont = 3.5em
maxfont = 8em
minscreen = 320px
maxscreen = 1200px

.product_collection-header
	width 100%
	background-size cover
	height 250px
	margin-bottom 60px
	@media smallTabletsAndUp
		height 400px
		
.product_collection-header-category
	font-size calc(minfont + (strip(maxfont) - strip(minfont)) * (100vw - minscreen) / (strip(maxscreen) - strip(minscreen)))
	font-weight 800
	color white
	letter-spacing 10px
	text-transform uppercase
	text-align center
	position relative
	top 50%
	transform translateY(-50%)
	@media smallTabletsAndUp
		font-size maxfont
	