.product_collection-header
	width 100%
	background-size cover
	height 250px
	margin-bottom 60px
	@media smallTabletsAndUp
		height 400px
		
.product_collection-header-category
	font-size 3.5em
	font-weight 800
	color white
	letter-spacing 10px
	text-transform uppercase
	text-align center
	position relative
	top 50%
	transform translateY(-50%)
	@media smallTabletsAndUp
		font-size 8em
	