minfont = 30px
maxfont = 128px
minscreen = 400px
maxscreen = 1200px

.product_collection-header
  background-color #dbdbdb
  background-position center center
  background-size cover
  box-shadow inset 0 0 0 50vw rgba(#000, 0.25)
  height 300px
  margin-bottom 20px
  width 100%
  @media smallTabletsAndUp
    height 55vh
    min-height 400px
  @media ipadsAndUp
    margin-top -10px
    margin-bottom 60px
    padding-top 50px
    width 100vw

.product_collection-header-category
  color white
  font-size calc(30px + (128 - 30) * (100vw - 400px) / (1200 - 400)) // variables aren't working here, hard-coded for now
  font-weight 800
  letter-spacing 0.13em
  position relative
  text-align center
  text-transform uppercase
  top 50%
  transform translateY(-50%)
  @media (max-width: 399px)
    font-size 30px
  @media (min-width: 1200px)
    font-size 128px
