.product_collection
	max-width 90%
	margin 0 auto
	font-family secondaryFontFamily
	@media ipadsAndUp
		margin 0 auto 50px auto
		max-width pageColumnWidth
		
.product_collection-heading
	font-family secondaryFontFamily
	text-transform uppercase
	letter-spacing 3px
	line-height 1.5em
	width 60%
	margin-bottom 50px
	@media ipadsAndUp
		width 40%