.product_collection-grid
	width 80%
	margin 0 auto
	font-family secondaryFontFamily
	@media smallTabletsAndUp
		width 100%
	
.product_collection-grid-heading
	font-family secondaryFontFamily
	text-transform uppercase
	letter-spacing 2.7px
	color #333
	
.product_collection_grid-single
	width 100%
	display inline-block
	text-align center
	margin-bottom 30px
	margin-right 0
	.rating-box
		margin-top 20px
	@media smallTabletsAndUp
		width 33%
		margin-right 20px
		.product_collection_grid-single:nth-child(3n)
			margin-right 0
	@media smallDesktopsAndUp
		width 22%
		.product_collection_grid-single:nth-child(4n)
			margin-right 0
		

.product_collection_grid-image
	position relative
	overflow hidden
	padding-bottom 100%
	border 5px solid #f5f5f5
	
.product_collection_grid-image img
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	width 75%
	
.product_collection_grid-brand
	color bestBeautyPink
	font-weight 300
	margin 5px 0
	
.product_collection_grid-price
	font-weight 300
	margin-top 5px
	
.product_collection_grid-content
	padding 15px

.product_collection_grid-text
	position relative
	.winner-badge
		position absolute
		top -55px
		margin-left auto
		margin-right auto
		left 0
		right 0
		width 50%
	.product_information-title
		margin 5px 0
	.rating-box
		font-size 1rem
	
.solid-background
	position absolute
	z-index -1
	width	45%
	height 45px
	margin-top 15px
	margin-left -10px
	background RGBA(192, 239, 239, .5)
	background-size 5px 5px
	background-position 0 0, 30px 30px
	@media smallTabletsAndUp
		width 25%
	
.circle-background
	position absolute
	z-index -2
	width	25%
	height 75px
	margin-left -10px
	background-image radial-gradient(#C0EFEF 20%, transparent 20%)
	background-size 5px 5px
	background-position 0 0, 30px 30px
	@media smallTabletsAndUp
		width	15%
	


