
img
  max-width 100%
  vertical-align middle
  width 100%

//  Product section
.product-collection
  margin 0 auto 20px
  padding-top 30px
  position relative

.product-collection__title
  color #333
  font-weight 800
  letter-spacing 3px
  line-height 1.2
  margin-bottom 30px
  position relative
  text-transform uppercase
  z-index 1
  @media ipadsAndUp
    font-size 30px
    letter-spacing 5px
    margin-bottom 50px
