
img
  width 100%
  max-width 100%
  vertical-align middle

//  Product section
.product-collection
  padding-top 30px
  margin 0 auto 20px
  position relative

.product-collection__title
  font-weight 600
  letter-spacing 2.5px
  line-height 1.2
  margin-bottom 50px
  max-width 300px
  position relative
  text-transform uppercase
  z-index 1
  @media ipadsAndUp
    font-size 30px
    max-width 450px
  @media mediumMobilesAndUp
    margin-bottom 50px
