.product-list-container
  padding-left 32px
  margin 0 auto
  max-width 1700px
  @media ipadsAndUp
    padding 0 5vw
.product-list-container--narrow
  @media ipadsAndUp
    max-width 960px

//  Product list
.product-list
  list-style none
  padding-right 32px
  @media (max-width: 767px)
    -webkit-overflow-scrolling touch
    overflow-x scroll
    white-space nowrap

.product-list__list-item
  @media (max-width: 767px)
    max-width 420px
    white-space normal
    width calc(100vw - 96px) // should show 2 * gutter-width of next product
  @media ipadsAndUp
    width 50%
  @media (min-width: 1000px)
    width 33.333%
  @media (min-width: 1300px)
    width 25%

.product-list--narrow .product-list__list-item
  @media (min-width: 1300px)
    width 33.333%
