
//  Product list
.product-list
  list-style none
  padding 0

.product-list__list-item
  width 100%
  @media (min-width: 500px)
    width 50%
  @media (min-width: 800px)
    width 33.333%
  @media (min-width: 1000px)
    width 25%
