.share
  margin-top 40px

.share__button
  cursor pointer
  display table-cell
  float left
  height 40px
  position relative
  width 33%

.share__button__logo
  width 18px
  height 18px
  position absolute
  top 50%
  left 50%
  transform translateY(-50%) translateX(-50%)

.share__button--facebook
  background-color $theme-facebook
  border-top-left-radius 20px
  border-bottom-left-radius 20px
  &:hover
    background-color rgba($theme-facebook, 0.8)

.share__button--twitter
  background-color $theme-twitter
  &:hover
    background-color rgba($theme-twitter, .8)

.share__button--email
  background-color $theme-email
  border-top-right-radius 20px
  border-bottom-right-radius 20px
  &:hover
    background-color rgba($theme-email, .8)

.share__button--whatsapp
  display none
