<div class="rating-box {% if modifier %}rating-box--{{modifier}}{% endif %}">
  {% if product.product_rating == '1' %}
     <div class="full"></div>
     <div class="empty"></div>
     <div class="empty"></div>
     <div class="empty"></div>
     <div class="empty"></div>
  {% elseif product.product_rating == '2' %}
    <div class="full"></div>
    <div class="full"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
  {% elseif product.product_rating == '3' %}
    <div class="full"></div>
    <div class="full"></div>
    <div class="full"></div>
    <div class="empty"></div>
    <div class="empty"></div>
  {% elseif product.product_rating == '4' %}
    <div class="full"></div>
    <div class="full"></div>
    <div class="full"></div>
    <div class="full"></div>
    <div class="empty"></div>
  {% elseif product.product_rating == '5' %}
    <div class="full"></div>
    <div class="full"></div>
    <div class="full"></div>
    <div class="full"></div>
    <div class="full"></div>
  {% endif %}
</div>
