<button class="site-nav-toggle" type="button">
  Open nav
</button>
<ul class="site-nav">
  {% for category in product_collection.get_field('categories') %}
    <li class="site-nav__list-item">
      <a class="site-nav__item" href="{{site.url}}/shop/{{product_collection.slug}}/{{category.name|lower}}">
        {{category.name}}
      </a>
    </li>
  {% endfor %}
</ul>
