
.list-categories
  font-size 0
  list-style none
  max-width 600px
  margin 0 auto
  @media (max-width: 767px)
    display flex
    flex-wrap wrap
    flex-shrink 0

.list-categories__list-item
  display inline-block
  font-size 16px
  padding 8px
  @media (max-width: 767px)
    flex 1 1 auto

.list-categories__item
  background-color bestBeautyPink
  color #fff
  display block
  letter-spacing 3px
  font-size 13px
  font-weight 800
  padding 16px
  text-decoration none
  text-transform uppercase
  transition background-color 150ms ease-out,
             color 150ms ease-out
  &:hover,
  &:focus
    background-color #fff
    color bestBeautyPink
  @media ipadsAndUp
    font-size 18px
    font-weight 600
    padding 20px 30px

.list-categories--reverse .list-categories__item
  background-color #fff
  color bestBeautyPink
  &:hover,
  &:focus
    background-color bestBeautyPink
    color #fff



.list-categories--animate .list-categories__list-item
  opacity 0
  transform translateY(30px)
  transition opacity 300ms ease-out,
             transform 300ms ease-out
  .fr-offcanvas--is-active &
    transform translateY(0)
    opacity 1
for $i in (1..15)
  .fr-offcanvas--is-active
    .list-categories--animate
      .list-categories__list-item:nth-child({$i})
        transition-delay 90ms * $i
